
:root {
    --grey-hide: hsla(0, 0%, 0%, 0.1);
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    background-color:#331C12;
    padding: 0;
    margin: 0;
}

.logo{
    width: 100px;
}

header{
    position: absolute;
    z-index: 10000;
    width: 100%;
    padding: 0.9rem;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

main{
    position: relative;
    height: 200vh;
    width: 100%;
    overflow: hidden;
}

.parallax{
    pointer-events: none;
    transition: 0.45s;
}

.first {
    position: absolute;
    background: var(--grey-hide);
    padding: 2rem;
    font-size: 23px;
    margin-top: 46%;
}

.sec {
    position: absolute;
    background: var(--grey-hide);
    padding: 2rem;
    font-size: 23px;
    margin-top: 125%;
}

#sky {
    position: absolute;
    width: 2800px;
    z-index: 1;
}

#bg{
    position: absolute;
    width: 1920px;
    z-index: 2;
}

#clouds {
    position: absolute;
    width: 1920px;
    z-index: 3;
}

#middle{
    position: absolute;
    width: 2120px;
    z-index: 4;
    margin-right: -200px;
}

.Text {
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem;
    
}

.Text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    background: var(--grey-hide);
}

.Text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
    background: var(--grey-hide);
    margin-bottom: -25%;
}

#capybara{
    position: absolute;
    z-index: 6;
    top: 700px;
    right: 0%;
}

#fg {
    position: absolute;
    width: 2000px;
    z-index: 7;
    margin-left: -70px;
}


#references{
    padding: 100px;
    
}

#emailtext{
    position: relative;
    left: 35%;
    font-size: 20px;
    right: 50%;
    color: #fff;
}

#emailruta{
    position: relative;
    left: 35%;
    right: 50%;
}

#submitruta{
    position: relative;
    left: 35%;
    right: 50%;
} 

#skolarbete{
    font-size: 20px;
    padding: 70px;
    color: #fff;
}

@media screen and (max-width: 1200px){

#emailtext{
   position: static;
}

#emailruta{
    position: static;
    
}

#submitruta{
    position: static;
}

}

@media screen and (max-width: 786px) {

.Text h2 {
    font-size: 70px;
   
}

.Text h1 {
    font-size: 80px;
}

.first {
    font-size: 18px;
   
}

.sec{
    font-size: 18px;
    margin-top: 180%;
}

#emailtext {
    position: static;
    font-size: 20px;
   
}

#emailruta {
    position: static;
   
}

#submitruta {
    position: static;
    
}

}

@media screen and (max-width: 480px) {
    
.Text h2 {
    font-size: 50px;
}

.Text h1 {
    font-size: 60px;
}

.first{
    font-size: 12px;
    margin-top: 100%;
}

.sec{
    font-size: 12px;
    margin-top: 230%;
}

}

@media screen and (max-width: 407px){

#info{
    display: flex;
    font-size: 12px;
}

#frågaoss{
    display: flex;
    font-size: 12px;
}

#skolarbete{
    font-size: 18px;
    
}

}